@import "tailwindcss";

@layer components {
    h1 {
        font-size: var(--text-2xl--line-height);
        font-weight: var(--font-weight-semibold);
    }

    h2 {
        font-size: var(--text-xl);
        font-weight: var(--font-weight-semibold);
    }

    .btn {
        @apply flex font-bold py-2 px-4 rounded justify-center items-center;

        svg {
            @apply inline-block max-h-4 max-w-4 ml-1;
        }
    }

    .btn-sky-blue {
        @apply bg-sky-500 hover:bg-sky-700 text-white;
    }

    .ul-bullet {
        list-style: disc;
    }
}

[v-cloak] {
    display: none;
}

body {
    @apply bg-blue-400 dark:bg-blue-950;
}

.main-content {
    @apply bg-white rounded-2xl dark:bg-gray-800 dark:text-white;
}

.bucket-list-item, .bucket-list-header, .bucket-form, .bucket-form-error {
    @apply flex mb-1;

    .bucket-list-col {
        @apply flex-1 mx-1;
    }
}

.bucket-list-header {
    @apply font-bold;
}

.bucket-form input {
    @apply border border-gray-200 p-3 rounded-2xl;
}

.bucket-form-error {
    @apply text-red-500;
}